
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript">
    var callbackInitDate;

    function OnStartCallback(s, e) {
        callbackInitDate = new Date();
    }
    function OnEndCallback(s, e) {
        var currentDate = new Date();
        var time = currentDate - callbackInitDate;

        document.getElementById("labelTime").innerHTML = "Time to retrieve the last data: &nbsp;";
        document.getElementById("valueTime").innerHTML = time / 1000 + " sec";
    }
</script>

<div style="padding-bottom:16px;">To start filtering, enter at least two symbols (e.g. 'an') into the editor's text box. This is due to the editor's FilterMinLength property set to 2 in this demo.</div>
<div id="container" style="display:table;padding-bottom:16px">
    <div id="labelTime" style="display:table-cell" >
        &nbsp;
    </div>
    <div id="valueTime" style="color: red;display:table-cell">
        &nbsp;
    </div>
</div>
<div style="padding-bottom: 16px;">
    @Html.Partial("LargeDataComboBoxPartial")
</div>